body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.logout-button, .register-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
}

.logout-button {
    background-color: #e74c3c;
}

.register-button {
    background-color: #3498db;
}

.register-container, .login-container {
    width: 450px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: 50%;
    padding: 9px;
    background: #030e08;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background: #27ae60;
}
